.input-box-style {
  width: -webkit-fill-available;
  /* height: 100%; */
  color: black;
  padding: 10px 15px;
  border-radius: 15px;
  /* border: none; */
  appearance: none;
  outline: 0;
  /* opacity: 90%; */
  margin: 0 auto 1px auto;
}

.input-label {
  color: #f4f4f4;
}
