.editDiscipline-background {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  backface-visibility: hidden;
  overflow: hidden;
  background-image: linear-gradient(40deg, rgba(77, 137, 228, 0.7), rgba(244, 244, 244, 0.7)),
    url('https://media.discordapp.net/attachments/837038192355311627/937788723154792448/classroom-setting-1630914.jpg');
  display: flex;
  flex-direction: row;
}

.editDiscipline-logo {
  margin-top: 10px;
  height: 125px;
  width: 350px;
}

.editDiscipline-content {
  width: 100%;
}

.editDiscipline-back-icon {
  display: flex;
  align-items: flex-start;
  width: auto;
  border: none;
  background-color: transparent;
}

.editDiscipline-back-icon:hover {
  cursor: pointer;
}

.editDiscipline-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
